In [1]:
import pandas as pd
import numpy as np
import os as os

terror=pd.read_csv('terror.csv',encoding='latin')

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#Q.1)	How many attacks happened in India?

terror[terror.country_txt=='India'].country_txt.count()

9940

In [3]:
#Q.2)How many attacks happened in India and upto 3 people were killed? 

terror[(terror.country_txt=='India') & (terror.nkill<=3)].country_txt.count()

8362

In [4]:
3#Extract the city and summary for attacks above

terror[(terror.country_txt=='India') & (terror.nkill<=3)][['city','summary']]

                     city                                            summary
1185            New Delhi                                                NaN
3780            New Delhi                                                NaN
5251               Bombay                                                NaN
7266               Imphal                                                NaN
8609              Unknown                                                NaN
8755              Unknown                                                NaN
8977               Amapur                                                NaN
9037             Raisikah                                                NaN
9040             Champhai                                                NaN
9070               Aizawl                                                NaN
9072           Jamshedpur                                                NaN
9081            New Delhi                                                NaN
9082            New Delhi                                                NaN
9090           Jamshedpur                                                NaN
9137              Chennai                                                NaN
9691              Unknown                                                NaN
9732              Unknown                                                NaN
9801              Unknown                                                NaN
9841               Imphal                                                NaN
9887              Unknown                                                NaN
10407           Chiaplant                                                NaN
10522            Calcutta                                                NaN
10744           New Delhi                                                NaN
12187             Unknown                                                NaN
12391             Unknown                                                NaN
12439             Unknown                                                NaN
13049             Gauhati                                                NaN
13177              Jorhat                                                NaN
13300             Unknown                                                NaN
13875             Unknown                                                NaN
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[8362 rows x 2 columns]

In [5]:
#Q.4)In a single terror incident in India, find out top 5 cities by number killed

terror[(terror.country_txt=='India')].sort_values(by="nkill",ascending=False)[['city','nkill']].head(5)

                     city  nkill
81000              Mumbai  188.0
96598             Jhargam  115.0
54339              Bombay  115.0
95860  Dantewada district   82.0
56837            Banabari   70.0

In [6]:
#Q.5)In a single terror incident in India, find out top 5 cities by number killed and wounded 

terror[(terror.country_txt=='India')].sort_values(by='nwound',ascending=False)[['city','nkill','nwound']].head(5)

            city  nkill  nwound
81000     Mumbai  188.0   817.0
89128     Dispur   37.0   235.0
30378    Chennai   32.0   200.0
79045  New Delhi   55.0   155.0
75769     Mumbai   52.0   150.0

In [ ]:
#How many attacks were successful that were suicide attacks?

terror[(terror.weapsubtype1_txt=='Suicide (carried bodily by human being)') & (terror.success==1)].success.count()

In [ ]:
#label all the incidents where the number killed was more than 5 as severe.

terror['severity']=['severe' if i>5 else 'not severe'  for i in terror.nkill]

terror['severity']

In [14]:
#8write a function to label an incident that was both successful and suicidal

def fun(x):
    j=["Success" if (x.iloc[i].suicide==1 and x.iloc[i].success==1) else "Failure" for i in list(range(0,len(x)))]
    return j

fun(terror)

156772

In [3]:
#Q.9)	Create a new category representing if the incident occured in Afghanistan, 
#Pakistan or India as one level of the category and all the other countries as another level

terror['levels']=['Asia' if (terror.iloc[i].country_txt=='Afghanistan' or terror.iloc[i].country_txt=='Pakistan' or terror.iloc[i].country_txt=='India') else 'Row' for i in list(range(0,len(terror.country_txt))) ]
    
terror['levels'].head()

0    Row
1    Row
2    Row
3    Row
4    Row
Name: levels, dtype: object

In [8]:
#Q.10)	How many incidents happened in Af-Pak-India vs ROW?

print(terror[terror.levels=="Asia"].levels.count()*100/ terror[terror.levels=="Row"].levels.count())

26.048852654091693

In [12]:
#Q.11)	List the number of suicides attacks and average kills by 
#Af-Pak-India vs ROW. Rename columns in the output as Average_Kills and Number_Incidents.

terror[terror.suicide==1].groupby('levels')[['nkill']].agg(['count','mean']).rename(columns ={'count': 'Number_Incidents','mean': 'Average_Kills'})

                  nkill
       Number_Incidents Average_Kills
levels
Asia               1456      8.127404
Row                3250     11.511403